# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=INFINCOIN CASH Daemon SNAP
Comment=testnet
GenericName=INFINCOINCASH Digital Currency Daemon Client testnet network
Exec=infincoincash-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/infincoincash_testnet.png
MimeType=x-scheme-handler/icc;
Categories=X-Office;X-Finance;
Keywords=internet;infincoincash;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
